@page
@using PRN221_Lab2.DataAcces;
@model PRN221_Lab2.Pages.Shop.ProductListModel
@{
    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewData["Pager"] != null)
    {
        pager = (Pager)ViewData["Pager"];
        pageNo = pager.CurrentPage;
    }
}

<h1>Products List</h1>
<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="CurrentFilter"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

    </div>
</form>
@if (Model.Products != null && Model.Products.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>
                    <a asp-page="/Shop/ProductsList" asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-searchString="@Model.CurrentFilter">Amount</a>
                </th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.data)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.UnitsInStock</td>
                    <td>@product.UnitPrice</td>
                    <td><a asp-page="cart" asp-page-handler="buy" asp-route-id="@product.ProductId">Add to cart</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container">
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-pg="1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-route-pg="@(pager.CurrentPage -1)">Previous</a>
                    </li>
                }

                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-route-pg="@pge"> @pge</a>
                    </li>
                }

                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-pg="@(pager.CurrentPage +1)">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-route-pg="@(pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
}
else
{
    <p>No product found!</p>
}

